# dependencies
node_modules/

# environment variables
.env

# build folders
dist/
build/

# uploads (optional - agar dynamic files hai)
upload/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# secret file
th.text